# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Ignore binaries
Task_[0-9]
Task_10
Task_11
Task_12   

# Ignore common build artifacts
*.out
.vscode/
*.dSYM/Contents

# Executables
*.exe
*.app
LR1/
LR2/
.DS_Store

# Build directory
/build/
